<div class="row el-element-overlay">
    <div class="col-lg-12">
        <h1 class="card-title text-center">Tus proyectos favoritos</h1>
    </div>

    <div class="col-lg-3 col-md-6" *ngFor="let project of projects">
        <div class="card cursor-pointer">
            <div class="el-card-item pb-3">
                <div class="el-card-avatar mb-3 el-overlay-1 w-100 overflow-hidden position-relative text-center fixed-height"> <img [src]="project.img | image:'projects'" class="d-block position-relative w-100" alt="user">
                    <div class="el-overlay w-100 overflow-hidden">
                        <ul class="list-style-none el-info text-white text-uppercase d-inline-block p-0">
                            <li><div class="heart heart{{project._id}}" (click)="favorite(project)"></div></li>
                            <li class="score">{{project.score || 0}}</li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content text-center" routerLink="{{project._id}}">
                    <h4 class="mb-0">{{project.name}}</h4> <span class="text-muted">{{project.center.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>



<script>


/*when the animation is over, remove the class*/
$(".heart").on('animationend', function(){
    console.log("click2")
$(this).toggleClass('is_animating');
});
</script>
