<div class="wrapper">
    <div class= "text-center ranking-title">
        <h1>
            Ranking de los proyectos más votados
        </h1>
    </div>
    <div class="wrapper__content text-center">
      <ul>
        <li *ngFor="let project of projects; let i = index" [attr.data-index]="i" routerLink="../center/{{project.center[0]._id}}/{{project._id}}">
            <div class="main-section">
                <div class="graphic"><img [src]="project.img | image:'projects'" alt=""/>
                </div>
                <div class="name">
                    <span class="ranking-project header">{{project.name}}</span>
                    <img *ngIf="i===0" class="winner-icon" src="../../../assets/images/win.png">
                    <span *ngIf="i!==0">{{i + 1}}º</span>
                </div>
            </div>
          <div class="name"><span class="header">{{project.center[0].name}}</span></div>
          <div class="name"><span class="stat">{{project.score || 0}}</span></div>
        </li>
      </ul>
    </div>
  </div>